# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
olist_pipeline/target/
olist_pipeline/dbt_packages/
olist_pipeline/logs/
olist_pipeline/dbt_internal_packages/
